{% for article in articles %}
<div>
     <i class="ion-quote"></i>
            <h1>{{ article.titre }}</h1>
              <p>"{{ article.texte }}"</p>
              <div class="user">
                <img src="images/item-img1.jpg" alt="Pepole">
                <p><span>Rose Ray</span> CEO-Themefisher</p>
              </div>
</div>
{% endfor %}