{% for categorie in categories %}
	<li class="dropdown-item @@service"><a class="nav-link" href="{{path('app_article_categorie', {'type': categorie.type})}}">{{ categorie.type }}</a></li>
{% endfor %}